extends layout
block title
    title Dashboard
block body
    header
        .wrap
            .item
                a(href="/") Statistic
            .item
                a(href="/") Parsing
            .item
                a(href="/") Veniam, aliquam
            .item
                a(href="/") Veniam, aliquam
            .item
                a(href="/") Veniam, aliquam
    .stats
        .wrap
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
    .wrap-container
        .container
            a Title
    .wrap-else
        .else
            a Else