extends layout
block title
    title Dashboard
block body
    header
        .wrap
            .item
                a(href="/") Database
            .item
                a(href="dashboard/statistic") Statistic
            .item
                a(href="dashboard/") Veniam, aliquam
            .item
                a(href="dashboard/") Veniam, aliquam
            .item
                a(href="dashboard/") Veniam, aliquam
    .stats
        .wrap
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
            .item
                span.num 14
                span.desc Something
    .wrap-container
        .container
            a Title
    .wrap-else
        .else
           p else