extends layout
block title
    title Dashboard
block body
    .body
        header
            .wrap
                .item
                    a(href="/") Database
                .item
                    a(href="dashboard/statistic") Statistic
                .item
                    a(href="dashboard/") Veniam, aliquam
                .item
                    a(href="dashboard/") Veniam, aliquam
        .films
            ul
                each film in data
                    li
                        a
                            img(src="#{film.cover_url}",onclick="filmDetals('#{film.cover_url}')")
        .infos
            .left-side
                span.num 14
            .right-side
                span.num Info:
                #info
        .wrap-container
            .container
                a(href="dashboard/parseKinorai") Parse KinoRai
        .stats
            .wrap
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
                .item
                    span.num 14
                    span.desc Something
        .wrap-else
            .else
               p else
        script(src='./scripts/frontend.js')