@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,500,700,300);
body{
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	background: #201F20;
}
.body{
	margin: 0 auto;
	max-width: 1000px;
}
.block{
	padding:5px 0;
}
header{
	background: #303332;
	display: block;
	margin: 0;
}
header .wrap .item{
	display: inline-block;
	padding: 10px;
}
header .wrap .item a{
	color: #B9BBBA;
	text-decoration: none;
	padding: 30px;
}
header .wrap .item a:hover{
	text-decoration: underline;
}
.container{
	margin: 50px auto;
	min-height: 200px;
	background: #3f3f3f;
	border: 3px solid #cacaca;
	display: block;
	max-width: 900px;
	padding: 20px;

}
.container a{
	color: white
}
.films{

}
.films ul{
	padding: 0;
	margin: 0;
}
.films ul li{
	padding-right: 5px;
	margin: 0;
	display: inline-block;
}
.films ul li a img{
	height: 200px;
}
.infos{
	display: block;
}
.left-side, .right-side{
	background: #303332;
	display: inline-block;
	min-height: 400px;
	box-sizing: border-box;

	vertical-align: top;
}
.left-side{
	width: 700px;
	padding: 5px;
}
.right-side{
	width: 300px;
	border-left:2px solid #414443
}
#info{
	width: 200px;
	padding: 0 25px;
}
#info img{
	width: 250px;
}
.stats{
	background: #F1F3F2;
	font-weight: 300;
}
.wrap{
	margin: 0 auto;
	text-align: center;
}
.wrap-container{
	background: #201F20;
}
.wrap-else{
	background: #201F20;
}
.else{
	margin: 0 auto;
	min-height: 400px;
	display: block;
	max-width: 940px;
	padding-top: 30px;
}
.item{
	display: inline-block;
	padding: 10px;
}
span.num{
	display: block;
	font-size:1.8em;

}
span.desc{
	font-size:1.4em;
}
