@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300);
body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #201F20;
	color: white;
}
a span.red{
	color:red;
}
.container{
	margin: 0 auto;
	max-width: 1000px;
}
.block{
	padding:5px 0;
}
header{
	background: #303332;
	display: block;
	margin: 0;
}
header   a{
	text-align: center;
	display: inline-block;
	padding:10px;
	color: #B9BBBA;
	text-decoration: none;
	border-right: 1px solid #201F20
}
header .wrap .item a:hover{
	text-decoration: underline;
}
.container-bordered{
	margin: 50px auto;
	min-height: 200px;
	background: #3f3f3f;
	border: 3px solid #cacaca;
	display: block;
	max-width: 900px;
	padding: 20px;
}
.container-bordered a{
	color: white
}
.films .carousel  img{
	height: 160px;
	display: inline-block;
}
.slick-slider {
	 margin-bottom: 0;
}
span.block{
	display: block;
}
.infos{
	background: #303332;
}
.parsed-films, .selected-film{
	background: #303332;
	display: inline-block;
	min-height: 600px;
	box-sizing: border-box;
	vertical-align: top;
}
.parsed-films{
	width: 700px;
	padding: 5px;
}
.parsed-films .item{
	display: inline-block;
	width: 170px;
	box-sizing: border-box;
	padding: 10px;
	vertical-align: top;
}
.item img{
	height: 179px;
	padding: 5px;
	display: block;
	margin: 0 auto;
}
.item  input{
	width: 100%;
}
.item span{
	text-align: center;
	font-size: 14px;
	color: #B9BBBA;
}
.selected-film{
	width: 300px;
	border-left:2px solid #414443;
	padding: 5px;
	color: #B9BBBA;
}
.selected-film #img{
	text-align: center;
}
.selected-film #img img{
	width: 215px;
	height: 315px;
}
.stats{
	background: #F1F3F2;
	font-weight: 300;
}
.wrap{
	margin: 0 auto;
	text-align: center;
}
.wrap-container{
	background: #201F20;
}
.wrap-container a{
	display: block;
}
.wrap-else{
	background: #201F20;
}
.else{
	margin: 0 auto;
	min-height: 400px;
	display: block;
	max-width: 940px;
	padding-top: 30px;
}
span.num{
	display: block;
	font-size:1.8em;
}
span.desc{
	font-size:1.4em;
}
